.advantages-content--content-wrapper {
  @media (min-width: $tablet) {
    display: flex;
  }
}

.advantages-content--content-wrapper2 {
  @media (min-width: $tablet) {
    background-color: $gray2-bg;
    display: flex;
    justify-content: space-between;
  }
}
