.content-features__list {
  width: 280px;
  min-height: 420px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: $tablet) {
    padding-left: 35px;
    padding-right: 35px;
    min-height: 330px;
    width: 100%;
    display: grid;
    grid-template-columns: 185px 185px 185px;
    grid-template-rows: 1fr;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 300px 300px 300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.content-features__item--1 {
  margin-top: 38px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-top: 34px;
  }
}

.content-features__item--2 {
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    margin-top: 34px;
    grid-column: 3/4;
  }
}

.content-features__item--3 {
  @media (min-width: $tablet) {
    margin-top: 15px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.content-features__item {
  position: relative;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: 160px;
  }

  @media (min-width: $desktop) {
    margin-top: 158px;
  }
}

.content-features__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: -50px;
  top: -10px;

  @media (min-width: $tablet) {
    width: 75px;
    height: 75px;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
  }
}

.content-features__item--1::before {
  background: url("../img/icon-house.svg") 50% 50% no-repeat;
  background-size: contain;
}

.content-features__item--2::before {
  background: url("../img/icon-gift.svg") 50% 50% no-repeat;
  background-size: contain;
}

.content-features__item--3::before {
  background: url("../img/icon-burger.svg") 50% 100% no-repeat;
  background-size: contain;
}

.content-features__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-bold;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

.content-features__text {
  color: $secondary-black;
  margin: 0;
  line-height: 21px;

  @media (min-width: $tablet) {
    margin-top: 23px;
  }
}
