.content-img {
  margin: 0 auto;
  width: 100%;
  height: 256px;

  @media (min-width: $tablet) {
    width: 100%;
    height: 256px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    height: 256px;
  }
}

.content-img__img {
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }

  @media (min-width: $desktop) {
    object-fit: cover;
  }
}

.content-img--2 {
  order: -1;
}
