.contact-form {
  color: $secondary-black;
  line-height: 26px;
}

.contact-form-wrapper {

  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    padding-left: 0;
  }
}

.contact-form__input {
  background-color: $gray6;
  border: none;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $primary-black;
  padding-left: 22px;
  padding-top: 5px;
}

.contact-form__input--setting {
  width: 100%;
}

.contact-form__input-tel {
  height: 58px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop) {
    width: 315px;
  }
}

.contact-form__input-mail {
  height: 58px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop) {
    width: 315px;
  }
}

.contact-form__input-img-tel {
  background-color: $gray7;
  padding: 20px;
  width: 58px;
  height: 58px;
}

.contact-form__input-img-mail {
  background-color: $gray7;
  padding: 23px 21px;
  width: 58px;
  height: 58px;
}

.contact-form__input-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    width: 480px;
  }
}

.contact-form__input::placeholder {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $primary-black;
}

.contact-form__data {
  padding-left: 22px;
  margin-bottom: 8px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 16px;
    padding-top: 5px;
  }
}

.contact-form__data--mod {
  padding-top: 14px;
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    padding-top: 25px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-top: 5px;
    padding-right: 0;
    width: 150px;
    margin-right: 15px;
  }
}

.show-hidden-text {
  @media (min-width: $desktop) {
    display: none;
  }
}

.contact-form__item {
  flex-basis: 50%;
}

.contact-form__item:last-child {
  margin-bottom: 28px;
}
