.copyright {
  line-height: 26px;
  font-size: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    padding-right: 5px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding-left: 27px;
    margin-bottom: 4px;
  }
}

.copyright__text {
  margin: 0;
  padding-right: 10px;
}

.copyright__link {
  display: block;
  height: 34px;
  margin-left: 2px;
}

.htmlacademy-copyright {
  fill: $primary-black;

  &:hover {
    fill: $blue1;
  }

  &:active {
    fill: $black-opacity-30;
  }
}
