.description-wrapper {
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 32px;
  width: 300px;

  @media (min-width: $tablet) {
    width: 540px;
    padding-top: 62px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 41px;
  }
}

.description-form {
  padding-bottom: 20px;
  max-width: 470px;

  @media (min-width: $tablet) {
    padding-bottom: 16px;
  }
}

.description-index {
  @media (min-width: $tablet) {
    padding-top: 43px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    padding-bottom: 43px;
  }
}

.description {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.description-wrapper-form {
  border-bottom: 1px $gray5-hover solid;


  @media (min-width: $tablet) {
    border: none;
  }
}

.description-catalog-wrapper {
  margin: 0 auto;
  max-width: 470px;
  padding-top: 23px;
  padding-bottom: 36px;

  @media (min-width: $tablet) {
    max-width: 500px;
    padding-top: 59px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop) {
    max-width: 480px;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.description--mod {
  padding-top: 34px;
  padding-bottom: 32px;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 76px;
    max-width: 500px;
  }
}

.description__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-bold;

  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

.description__subtitle-form {
  @media (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    padding-top: 50px;
  }
}

.description__text {
  margin: 0;
  line-height: 26px;
  color: $secondary-black;
}

.description__text-catalog,
.description__text-form {
  line-height: 24px;
}

.description__subtitle-catalog {
  @media (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 34px;
  }
}

.description__subtitle-video-gallery {
  @media (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 34px;
  }
}
