.feedback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 50px;
  }

  @media (min-width: $desktop) {
    padding-top: 20px;
  }
}

.feedback-form__item {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px $gray5-hover solid;

  @media (min-width: $tablet) {
    border: none;
  }
}

.feedback-form__item--1 {
  grid-column: 2/3;
  width: 100%;

  @media (min-width: $tablet) {
    border-left: 1px $gray5-hover solid;
  }
}

.feedback-form__item--2 {
  grid-column: 1/-1;

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 0;
  }
}

.feedback-form__item--3 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.feedback-form__item--4 {
  grid-column: 1/-1;
  width: 100%;

  @media (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback-form__item--5 {
  grid-column: 1/3;
  border: none;

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback-form__item--6 {
  grid-column: 1/-1;

  @media (min-width: $tablet) {
    margin-bottom: 2px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4px;
  }
}

.feedback-form__subtitle {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 21px;
  }

  @media (min-width: $desktop) {
    padding-top: 23px;
    padding-bottom: 18px;
  }
}

.feedback-form__subtitle-impression {
  @media (min-width: $tablet) {
    padding-left: 10px;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.feedback-form__subtitle-personal-data {
  padding-top: 18px;

  @media (min-width: $tablet) {
    text-align: end;
    padding-left: 56px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop) {
    padding-left: 80px;
  }
}

.feedback-form__subtitle-contact {
  padding-top: 20px;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 70px;
  }
}

.feedback-form__subtitle-visited {
  padding-top: 15px;

  @media (min-width: $tablet) {
    padding: 15px 60px 18px;
  }

  @media (min-width: $desktop) {
    padding-top: 26px;
  }
}

.feedback-form__subtitle-emotion {
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    padding-top: 22px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop) {
    padding-top: 18px;
    padding-bottom: 53px;
  }
}

.feedback-form__subtitle-contact,
.feedback-form__subtitle-visited,
.feedback-form__subtitle-emotion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    &::before,
    &::after {
      content: " ";
      flex-grow: 1;
      flex-shrink: 0;
      height: 1px;
      background-color: $gray5-hover;
    }

    &::before {
      margin-right: 60px;
    }

    &::after {
      margin-left: 60px;
    }
  }
}


.text-mod {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $primary-black;
}

.button-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;

  @media (max-width: $mobile-only) {
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: 60px;
    justify-self: start;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.button-form {
  margin-bottom: 40px;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    width: 324px;
    margin-bottom: 65px;
    padding-left: 0;
    padding-right: 10px;
  }

  @media (min-width: $desktop) {
    width: 480px;
    padding-top: 19px;
    padding-bottom: 13px;
    padding-left: 10px;
  }
}

.asterisk-decoding {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    padding-top: 11px;
    padding-right: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 11px;
    padding-right: 0;
  }
}

.input-condition:hover {
  background-color: $gray5-hover;
}

.input-condition:active {
  background-color: $white;
}

.input-condition:focus {
  background-color: $white;
  outline: 4px solid $gray5-hover;
  outline-offset: -4px;
}
