.footer-social--wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding-left: 3px;
    margin-bottom: 4px;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social__item {
  position: relative;
  background-color: $blue1;
  width: 47px;
  height: 48px;
  overflow: hidden;

  &:hover {
    background-color: $blue2-hover;
  }

  &:active {
    background-color: $blue3-down;
  }
}

.footer-social__img {
  box-sizing: content-box;
  position: absolute;
  padding: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social__list li:not(:first-child) {
  margin-left: 6px;
}

.footer-social__link {
  &:active {
    opacity: 0.3;
  }
}
