.modal-section {
  position: relative;
}

.modal-popup__arrow {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.4;
  transition: 0.5s;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.modal-popup__arrow-back {
  left: -100px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.modal-popup__arrow-forward {
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.modal {
  display: none;
}

.shown {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 200;
}

.modal-popup__img {
  width: 800px;
  z-index: 10;

  object-fit: cover;
}

.modal-popup__close-button {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.2;
  top: -60px;
  right: -60px;
  transition: 0.5s;
  width: 60px;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}
