.personal-data-form {
  color: $secondary-black;
  line-height: 26px;
}

.personal-data-form--mod {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    padding-top: 35px;
    padding-left: 58px;
    padding-right: 58px;
  }

  @media (min-width: $desktop) {
    width: 445px;
    padding-left: 80px;
    padding-top: 37px;
    padding-right: 45px;
  }
}

.personal-data-form__item:not(:last-child) {
  margin-bottom: 20px;
}

.personal-data-form__item {
  display: flex;
  align-items: center;
}

.personal-data-form__input {
  background-color: $gray6;
  border: none;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $primary-black;
}

.personal-data-form__input::placeholder {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 26px;
  color: $primary-black;
}

.personal-data-form__input--mod {
  width: 100%;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.personal-data-form__data {
  padding-right: 14px;
}
