.video-content-wrapper {
  position: relative;
  height: 200px;

  @media (min-width: $tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.video-content__video {
  object-fit: cover;
  height: 200px;

  @media (min-width: $tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}
