$primary-black: #000000;
$secondary-black:#333333;
$secondary-black-30: rgba(#333333, 0.3);

$black-opacity-60: rgba(#000000, 0.6);
$black-opacity-30: rgba(#000000, 0.3);
$black-opacity-20: rgba(#010101, 0.2);

$brown: #604e43;
$brown2: #766357;
$brown2-opacity-30: rgba(#766357, 0.3);

$white: #ffffff;
$white-opacity-60: rgba(#ffffff, 0.6);
$white-opacity-30: rgba(#ffffff, 0.3);
$white-opacity-20: rgba(#ffffff, 0.2);

$gray1: #666666;
$gray3: #5c6870;
$gray4-down: #d5d5d5;
$gray5-hover: #e5e5e5;
$gray2-bg: #eeeeee;
$gray6: #f2f2f2;
$gray7: #e6e6e6;
$gray8: #eaeaea;

$blue1: #81b3d2;
$blue2-hover: #669ec0;
$blue3-down: #5496bd;

$outline-green: 5px solid green;
$outline-red: 5px solid red;
$outline-blue: 5px solid blue;
